anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
autoviz
Babel
backcall
beautifulsoup4
bleach
bokeh
certifi
cffi
charset-normalizer
colorama
colorcet
comm
dash
dash-bootstrap-components
dash-colorscales
dash-daq
debugpy
decorator
defusedxml
#dtale
emoji
entrypoints
executing
fastjsonschema
flask-ngrok
flit_core
fsspec
gast
holoviews
hvplot
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter_core
jupyter-server
jupyterlab-pygments
jupyterlab_server
jupyterlab-widgets
kaleido
lxml
lz4
MarkupSafe
matplotlib-inline
missingno
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
notebook_shim
numpy
#ortools
packaging
pandas
pandocfilters
panel
param
parso
pickleshare
pip
pkgutil_resolve_name
platformdirs
ppscore
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
pyct
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyviz-comms
#pywin32
pywinpty
pyzmq
qtconsole
regex
requests
scipy
Send2Trash
setuptools
six
sniffio
soupsieve
squarify
stack-data
statsmodels
strsimpy
tensorflow-estimator
#terminado
textblob
tinycss2
tornado
traitlets
typing_extensions
urllib3
voila
wcwidth
webencodings
websocket-client
websockets
wheel
widgetsnbextension
wincertstore
xarray
xgboost
zipp
